/* Add this in your CSS */
.water-text {
    display: inline-block;
    background: white;
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wave 2s linear infinite ease-out;
  }
  
  @keyframes wave {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
  }
  